# Main
mlflow==2.3.1
xgboost==1.7.3
scikit-learn==1.2.2
pandas==1.5.3
numpy==1.23.5
joblib==1.2.0

# DB
sqlalchemy==2.0.15
psycopg2-binary==2.9.6

# Other
scipy==1.10.1
python-dotenv==1.0.0
requests==2.28
